/**
 * Tailwind CSS imports
 * View the full documentation at https://tailwindcss.com
 */
@tailwind base;
@tailwind components;
@tailwind utilities;

/**
  * WHAT IS THIS FILE?
  *
  * Globally applied styles. No matter which components are in the page or matching route,
  * the styles in here will be applied to the Document, without any sort of CSS scoping.
  *
  */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  line-height: 1;
  -webkit-text-size-adjust: 100%;
}

body {
  padding: 0;
  margin: 0;
  line-height: inherit;
  color: white;
}

@layer base {
  @font-face {
    font-family: "Sora";
    font-style: normal;
    font-weight: 800;
    src: url("/fonts/Sora-ExtraBold.woff2") format("woff2");
  }
  @font-face {
    font-family: "Sora";
    font-style: normal;
    font-weight: 700;
    src: url("/fonts/Sora-Bold.woff2") format("woff2");
  }
  @font-face {
    font-family: "Sora";
    font-style: normal;
    font-weight: 600;
    src: url("/fonts/Sora-SemiBold.woff2") format("woff2");
  }
  @font-face {
    font-family: "Sora";
    font-style: normal;
    font-weight: 500;
    src: url("/fonts/Sora-Medium.woff2") format("woff2");
  }
  @font-face {
    font-family: "Sora";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/Sora-Regular.woff2") format("woff2");
  }
  @font-face {
    font-family: "Sora";
    font-style: normal;
    font-weight: 300;
    src: url("/fonts/Sora-Thin.woff2") format("woff2");
  }
  @font-face {
    font-family: "Sora";
    font-style: normal;
    font-weight: 200;
    src: url("/fonts/Sora-Light.woff2") format("woff2");
  }
  @font-face {
    font-family: "Sora";
    font-style: normal;
    font-weight: 100;
    src: url("/fonts/Sora-ExtraLight.woff2") format("woff2");
  }
}
/* Our customs classes for re-using */
.custom-text-50 {
  color: rgba(255, 255, 255, 0.5);
}

.custom-shadow {
  box-shadow: 0px 5px 15px 0px #000;
}

.custom-border-1 {
  border: 1px solid rgba(255, 255, 255, 0.15);
}
.custom-border-2 {
  border: 2px solid rgba(255, 255, 255, 0.15);
}

.custom-border-b-1 {
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}
.custom-bg-white {
  background: linear-gradient(
    98deg,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}
.custom-bg-button {
  background: linear-gradient(
    130deg,
    #da301f 0.24%,
    #f48946 18.43%,
    #ee3560 35.57%,
    #fa4784 51.68%,
    #ff48c0 66.75%,
    #8e38b5 81.82%,
    #5542bb 89.09%,
    #0051c3 100%
  );
}

.gradient {
  background: linear-gradient(
    130deg,
    #da301f 0.24%,
    #f48946 18.43%,
    #ee3560 35.57%,
    #fa4784 51.68%,
    #ff48c0 66.75%,
    #8e38b5 81.82%,
    #5542bb 89.09%,
    #0051c3 100%
  );
  opacity: 0.5;
  filter: blur(170px);
  z-index: -1;
}

.custom-btn-gradient {
  background: linear-gradient(
    to right,
    #da301f,
    #f48946,
    #ee3560,
    #fa4784,
    #ff48c0,
    #8e38b5,
    #5542bb,
    #0051c3
  );
}

.bg-modal-glass {
  background: linear-gradient(98deg, rgb(27, 27, 27) 0%, rgb(0, 0, 0) 100%);
}

.bg-modal-button {
  background: linear-gradient(98deg, rgb(34, 34, 34) 0%, rgb(22, 22, 22) 100%);
}

.pr-timeline {
  border-radius: 0px 0px 8px 8px;
  border-top: 1px solid var(--stoke-outline, rgba(255, 255, 255, 0.3));
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

.background-container {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../public/assets/icons/vector-top.svg"),
    url("../public/assets/icons/vector-bottom.svg");
  background-size: cover;
  background-position: top, bottom;
  background-repeat: no-repeat;
  z-index: 0;
}

.content-container {
  position: relative;
  z-index: 10;
}

.walletList {
  display: none;
  box-shadow: 0px 15px 50px #000;
}
.walletCheckbox:checked ~ .walletLabel {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.walletCheckbox:checked ~ .walletList {
  display: flex;
}

.tokenList {
  display: none;
  box-shadow: 0px 15px 50px #000;
}
.tokenCheckbox:checked ~ .tokenLabel {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.tokenCheckbox:checked ~ .tokenList {
  display: flex;
}

.border-gradient:checked {
  background:
    linear-gradient(98deg, black 0%, black) padding-box,
    linear-gradient(
        130deg,
        #da301f 0.24%,
        #f48946 18.43%,
        #ee3560 35.57%,
        #fa4784 51.68%,
        #ff48c0 66.75%,
        #8e38b5 81.82%,
        #5542bb 89.09%,
        #0051c3 100%
      )
      border-box;
  border-radius: 4px;
  border: 1px solid transparent;
}

.border-gradient:checked::after {
  border-width: 0 1.5px 1.5px 0;
  background:
    linear-gradient(48deg, black 0%, black) padding-box,
    linear-gradient(
        150deg,
        #da301f 0%,
        #f48946 40%,
        #ee3560 60%,
        #fa4784 80%,
        #ff48c0 100%
      )
      border-box;
  border-style: solid;
  border-color: transparent;
}

.border-gradient:checked ~ label {
  background:
    linear-gradient(
        130deg,
        #251716 0.24%,
        #211a15 18.43%,
        #1c1416 35.57%,
        #171012 51.68%,
        #1a1318 66.75%,
        #1a131c 81.82%,
        #13121b 89.09%,
        #0a0e12 100%
      )
      padding-box,
    linear-gradient(
        130deg,
        #da301f 0.24%,
        #f48946 18.43%,
        #ee3560 35.57%,
        #fa4784 51.68%,
        #ff48c0 66.75%,
        #8e38b5 81.82%,
        #5542bb 89.09%,
        #0051c3 100%
      )
      border-box;
  border-radius: 8px;
  border: 1px solid transparent;
}
